{% extends "template.html" %}
{% block title %}About{% endblock %}

{% block content %}
<section>
    <p>
        The NASA-Cosmoboard Space Biology Dashboard is part of the 2025 NASA Space Apps Challenge. 
        It aims to provide scientists, mission planners, and managers with a dynamic interface 
        to explore and summarize decades of NASA bioscience publications. This project 
        presents a user-friendly layout for accessing all related research with Space Biology topics
        and recommended papers to help aid in research based on keywords in your selected paper and
        the data sets that were used to create the paper.
    </p>
</section>
{% endblock %}