<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NASA Space Biology Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>NASA-Cosmoboard Space Biology Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('publications') }}">Publications</a></li>
                <li><a href="{{ url_for('insights') }}">Insights</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
    <p>CosmoBoard (Aakriti Dahal, Somanshi Grover, Stephen Chola Kapumba III);</p>
    </footer>
</body>
</html>